.page-container
  display: flex
  height: 100%
  flex-flow: column
mat-toolbar
   height: 100px
   span
    margin-left: 20px
.users-container
  flex-grow:2
  flex-wrap: wrap
  padding: 15px
  display: flex
  justify-content: center
  align-items: center
  overflow-y: scroll
  .user-card
    width: fit-content
    min-width: 400px
    display: flex
    flex-flow: column
    justify-content: center
    align-items: center
    margin-bottom: 15px
    p
     margin-top:10px
    img
     width: 80%
     margin: 0 auto
    button
     width: 100%
     display: inline-block
.users-not-found
  flex-grow:2
  display: flex
  justify-content: center
  align-items: center
  h3
   color: #ffd740
