<div class="page-container">
  <mat-toolbar color="primary">
    <button mat-raised-button color="accent" (click)="backClicked()"><mat-icon>keyboard_backspace</mat-icon></button>
    <span>Maids Test</span>
  </mat-toolbar>
  <div *ngIf="user && !isLoading" mat-ca class="users-container">
    <div class="user-card">
      <img [src]="user.avatar" />
      <p>{{user.first_name + " " + user.last_name}}</p>
      <p>{{user.email}}</p>
    </div>
  </div>
  <div *ngIf="!user" class="users-not-found">
     <h3>  user not found</h3>
  </div>
  <div class="users-not-found" *ngIf="isLoading">
    <mat-spinner></mat-spinner>
  </div>

</div>

