<div class="page-container">
  <mat-toolbar color="primary">
    <span>Maids Test</span>
    <mat-form-field class="example-full-width">
      <input (keyup)="applyFilters($event)" matInput />
      <mat-icon>search</mat-icon>
    </mat-form-field>
  </mat-toolbar>

  <div *ngIf="users && users.length>0 &&!isLoading" mat-ca class="users-container">
    <div *ngFor="let user of users" class="user-card">
      <img [src]="user.avatar" />
      <p>{{user.first_name + " " + user.last_name}}</p>
      <p>{{user.email}}</p>
      <button (click)="navigateToUserPage(user.id)" mat-raised-button color="accent">Go To Detalis</button>
    </div>
  </div>
  <div *ngIf="(!users || users.length===0) &&!isLoading" class="users-not-found">
     <h3> no user found</h3>
  </div>
  <div class="users-not-found" *ngIf="isLoading">
    <mat-spinner></mat-spinner>
  </div>
  <mat-paginator
  #userPaginator
  [pageSize]="pageSize"
  [pageSizeOptions]="pageSizeOptions"
  [length]="total"
  (page)="onPaginateChange($event)"
  ></mat-paginator>
</div>
